<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:p="http://www.springframework.org/schema/p">

    <bean id="phone" class="com.pain.flame.bean.Phone"
        p:brand="iPhone"
        p:color="yellow"
        p:cores="2" />

    <!--@PostConstruct-->
    <!--@PreDestroy-->
    <bean id="car" class="com.pain.flame.bean.Car"
        p:color="black"
        p:brand="benz&amp;250"
        p:speed="50"
        init-method="customInit"
        destroy-method="customDestroy" />

    <bean id="myBeanPostProcessor" class="com.pain.flame.processor.MyBeanPostProcessor" />
    <bean id="myInstantiationAwareBeanPostProcessor" class="com.pain.flame.processor.MyInstantiationAwareBeanPostProcessor" />
    <bean id="myBeanFactoryPostProcessor" class="com.pain.flame.processor.MyBeanFactoryPostProcessor" />
</beans>